*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 30px;
    background-color: #8a2be2;
    padding-top: 15px;
}
.block{
    color: #ffa600;
    background-color: #8700fd;
    border: 3px solid #d29eff;
    padding: 20px;
}
header{
    min-height: 100px;
    margin-bottom: 50px;
}
.about{
    margin-bottom: 50px;
}
.img{
    width: 100%;
    display: block;
    margin: 0 auto;
}